<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <configuration>
 	 <typeAliases>
  		<typeAlias type="com.jerry.app.product.ProductDTO" alias="ProductDTO"/>
  		<typeAlias type="com.jerry.app.util.PageDTO" alias = "PageDTO"/>
  		<typeAlias type="com.jerry.app.product.ProductFileDTO" alias = "ProductFileDTO"/>
  		
  		<typeAlias type="com.jerry.app.member.MemberDTO" alias = "MemberDTO"/>
  		<typeAlias type="com.jerry.app.member.MemberFileDTO" alias = "MemberFileDTO"/>
  		
  		<typeAlias type="com.jerry.app.account.AccountDTO" alias = "AccountDTO"/>
  		<typeAlias type="com.jerry.app.account.TradeDTO" alias = "TradeDTO"/>
  		<typeAlias type="com.jerry.app.account.ListOption" alias = "ListOption"/>
  		
  		<typeAlias type="com.jerry.app.boards.BoardDTO" alias = "BoardDTO"/>
  		<typeAlias type="com.jerry.app.boards.notice.NoticeDTO" alias = "NoticeDTO"/>
  		<typeAlias type="com.jerry.app.boards.notice.NoticeFileDTO" alias = "NoticeFileDTO"/>
  		<typeAlias type="com.jerry.app.boards.qna.QnaDTO" alias = "QnaDTO"/>
  		<typeAlias type="com.jerry.app.boards.qna.QnaFileDTO" alias = "QnaFileDTO"/>
  		
  		
  		<typeAlias type="com.jerry.app.boards.notice.ExtraDTO" alias = "ExtraDTO"/>
  		
  		<typeAlias type="com.jerry.app.files.FileDTO" alias = "FileDTO"/>
  		
  		
  	</typeAliases>
 </configuration>