<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.jerry.app.account.AccountDAO">
	<insert id="add" parameterType="AccountDTO">
		INSERT INTO ACCOUNT_INFO (ACCOUNT_NUM, PRODUCT_NUM, USER_ID, BALANCE)
		VALUES (
			LPAD(TO_CHAR(#{product_num}), 7, '0') || LPAD(TO_CHAR(ACCOUNT_SEQ.NEXTVAL), 13, '0'),
			#{user_id},
			#{product_num},
			#{balance}
		)
	</insert>
 </mapper>