<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.jerry.app.product.ProductDAO">
	  
	  <select id="getlist" parameterType="PageDTO" resultType="ProductDTO">
	  
			SELECT * FROM
			(
				SELECT ROWNUM R, P.* FROM
				(
					SELECT * FROM PRODUCT_INFO
					<where>
						PRODUCT_NUM > 0
						<choose>
							<when test="kind == 'k2'">
								AND PRODUCT_EX LIKE '%' || #{search} || '%' 
							</when>
							<otherwise>
								AND PRODUCT_NAME LIKE '%' || #{search} || '%' 
							</otherwise>
						</choose>
					</where>

					ORDER BY PRODUCT_NUM DESC) P)
			WHERE R BETWEEN #{startRow} AND #{lastRow}
	  </select>
	  
	  <select id="getnum" parameterType="PageDTO" resultType = "java.lang.Long">
	 		SELECT COUNT(PRODUCT_NUM) 
			FROM PRODUCT_INFO
			<where>
				PRODUCT_NUM > 0
					<choose>
						<when test="kind == 'k2'">
							AND PRODUCT_EX LIKE '%' || #{search} || '%' 
						</when>
						<otherwise>
							AND PRODUCT_NAME LIKE '%' || #{search} || '%' 
						</otherwise>
					</choose>
			</where>
	  </select>
	  
	  <select id="getdetail" parameterType="ProductDTO" resultMap="getDetailResult">
			SELECT PI.*, PFI.*
			FROM PRODUCT_INFO PI 
				LEFT JOIN
				PRODUCT_FILE_INFO PFI
				ON (PI.PRODUCT_NUM = PFI.PRODUCT_NUM)
			WHERE PI.PRODUCT_NUM = #{product_num}
	  </select>
	  
	  <resultMap type="ProductDTO" id="getDetailResult">
	  		<id column="PRODUCT_NUM" property="product_num"/>
	  		<result column="PRODUCT_NAME" property="product_name"/>
	  		<result column="PRODUCT_RATE" property="product_rate"/>
	  		<result column="PRODUCT_EX" property="product_ex"/>
	  		<collection property="product_file" javaType="java.util.List" ofType="ProductFileDTO">
	  			<id column="FILE_NUM" property="file_num"/>
	  			<result column="FILE_NAME" property="file_name"/>
	  			<result column="ORI_NAME" property="ori_name"/>
	  		</collection>
	  </resultMap>
	  
	  <select id="getproductnum" resultType="Long">
	  		SELECT PRODUCT_SEQ.NEXTVAL FROM DUAL
	  </select>
	  
	  <insert id="doadd" parameterType="ProductDTO">
	  		INSERT INTO PRODUCT_INFO VALUES (#{product_num}, #{product_name}, #{product_rate}, #{product_ex})
	  </insert>
	  
	  <insert id="doaddfile" parameterType="ProductFileDTO">
	  		INSERT INTO PRODUCT_FILE_INFO
	  		VALUES (PRODUCT_FILE_SEQ.NEXTVAL, #{product_num}, #{file_name}, #{ori_name})
	  </insert>
	  
	  <delete id="dodelete" parameterType="ProductDTO">
	  		DELETE FROM PRODUCT_INFO WHERE PRODUCT_NUM = #{product_num} 
	  </delete>
	  
	  <update id="doupdate" parameterType="ProductDTO">
			UPDATE PRODUCT_INFO SET PRODUCT_NAME = #{product_name}, PRODUCT_RATE=#{product_rate}, PRODUCT_EX=#{product_ex} WHERE PRODUCT_NUM = #{product_num} 
	  </update>
	  
	  <insert id="addWish" parameterType="java.util.Map">
	  		INSERT INTO WISH_INFO
	  		VALUES(#{product_num}, #{user_id})	
	  </insert>
	  
	  <select id="wishList" parameterType="MemberDTO" resultType="ProductDTO">
	  		SELECT * FROM PRODUCT_INFO
	  		WHERE PRODUCT_NUM IN (
	  			SELECT PRODUCT_NUM FROM WISH_INFO WHERE USER_ID = #{user_id}
	  		)
	  </select>
	  
	  <delete id="deleteWishList" parameterType="java.util.Map">
	  		DELETE FROM WISH_INFO WI WHERE USER_ID = #{user_id} AND 
	  		PRODUCT_NUM IN
			<foreach collection="product_ar" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
	  </delete>
	  
	  <insert id="commentAdd" parameterType="ProductCommentDTO">
		  	INSERT INTO COMMENT_INFO 
			VALUES (BOARD_SEQ.NEXTVAL, #{product_num}, #{board_writer}, SYSDATE, #{board_contents})
	  </insert>
	  
	  <select id="commentList" parameterType="CommentPageDTO" resultType="ProductCommentDTO">
	  		SELECT * FROM
	  		(
		  		SELECT ROWNUM R, C.* FROM		
		  		(
		  			SELECT *
		  			FROM COMMENT_INFO
		  			WHERE PRODUCT_NUM = #{product_num}
		  			ORDER BY CREATE_DATE DESC
		  		)C
		  	)
		  	WHERE R BETWEEN #{startRow} AND #{lastRow} 
	  </select>
	  
	  <select id="commentTotalCount" parameterType="CommentPageDTO" resultType="Long">
	  		SELECT COUNT(BOARD_NUM)
	  		FROM COMMENT_INFO
	  		WHERE PRODUCT_NUM = #{product_num}
	  </select>
	  
	  <delete id="commentDelete" parameterType="ProductCommentDTO">
	  		DELETE FROM COMMENT_INFO
			WHERE BOARD_NUM = #{board_num}
	  </delete>

	  
  </mapper>